adjustText==1.2.0
aiobotocore
aiohappyeyeballs
aiohttp
aioitertools
aiosignal
alabaster
altair==4.2.2
anyio
appdirs==1.4.4
argon2-cffi
astroid
astropy
attrs
autograd==1.7.0
autograd-gamma==0.5.0
bokeh
certifi
cffi
click
cloudpickle
colorcet
colour==0.1.5
colourmap==1.1.17
dask
datashader
decorator
defusedxml
dtreeviz==2.2.2
entrypoints==0.4
fastjsonschema
filelock
flake8
Flask
gensim
graphviz==0.20.3
h5py
holoviews
hvplot
idna
imbalanced-learn
jedi
Jinja2
joblib
kiwisolver
lifelines==0.30.0
lime==0.2.0.1
lxml==5.2.1
matplotlib==3.9.2
matplotlib-inline
numba
numpy
openpyxl
packaging
pandas
panel
param
plotly
protobuf==4.25.3
psutil
pyarrow
pydantic
pytz
PyWavelets
scikit-learn
scipy
seaborn
six
SQLAlchemy
streamlit
streamlit-aggrid==1.0.5
streamlit-echarts==0.4.0
streamlit-elements==0.1.0
streamlit-lottie==0.0.5
tabulate
tenacity
tornado
tqdm
urllib3
watchdog
wheel==0.44.0
xgboost==2.1.2
zstandard